.hidden {
    display: none !important;
}
* {
    margin: 0px;
    box-sizing: border-box;
}

#bgImage{
    position: absolute;
    top: 0px;
    z-index: -1;
    opacity: 0.8;
}

#login-div{
    text-align: center;
}
#login-form input::placeholder {
    color : black;
}
#login-form input{
    background: rgba(0,0,0,0.2);
    border: 0;
    border-bottom : 2px solid black;
    width : 300px;
    height: 30px;
    font-size: 1.3em;
}
#weather{
    text-align: right;
    height: 20px;
    padding : 10px;
}

#clock{
    font-size: 10em;
    text-align: center;
    margin-top: 130px;
}

#greeting{
    text-align: center;
    font-size: 4em;
}

#todo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#todo-form input::placeholder {
    color : black;
}

#todo-form input {
    background: rgba(0,0,0,0.2);
    border: 0;
    border-bottom : 2px solid black;
    width : 300px;
    height: 30px;
    font-size: 1.3em;
}

ul {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}

li button {
    background: none;
    border: none;
}

#quote{
    position: fixed;
    bottom:0px;
    padding: 10px;
    font-size: 1em;
    color : rgb(214, 214, 214);
    width:100%;
    background: rgba(0,0,0,0.5);
}